header{
    text-align: center;
}
body{
    text-align: center;
}


.container2 {
background-color: bisque;
border: 3px solid black;
border-radius: 3px;
width: 370px;
height: 90px;
margin-top: 10px;
}

.container3{
background-color: rgb(250, 171, 75);
border: 3px solid black;
border-radius: 3px;
width: 1080px;
height: 160px;
display: flex;
justify-items: center;
align-items: center;
margin-top: 10px;

}
.container4{
    background-color: rgb(250, 171, 75);
    border: 3px solid black;
    border-radius: 3px;
    width: 1080px;
    height: 150px;
    display: flex;
    justify-items: center;
    align-items: center;

}
.flat{border: 3px solid;
    width: 500px;
    
}