*{margin: auto;
    margin-top: 25px;
}
body{
margin: auto;
width: 960px;
height: 800px;
background-color: antiquewhite;
}
.h1{
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 40px;
color: brown;
}
.h2{  margin: auto;
    margin-top: 20px;
    width: 500px;
    height: 60px;
    color: rgb(29, 14, 14);

}
.h31{margin:left;
    margin-top: 100px;
    width: 100px;
color: rgb(34, 129, 34);
}

.flat{ margin: auto;
    margin-top: 25px;
    width: 600px;
    height: 400px;
}